
body{
background-image: url("https://cdn.pixabay.com/photo/2012/12/13/11/48/blue-69738__340.jpg");
-webkit-background-size: cover;
background-size: cover;
background-position: center; 
height: 90vh ;
}
.navbar{
/* width: auto; */
padding-left: 20%;
}
.navbar ul{
  list-style:none ;
 margin-top: 2%;
}
.navbar ul li{
  background: #262626;
 width: 170px;
border: 1px solid #fff;
height: 50px ;
line-height: 50px;
text-align: center;
float: left;
color: #fff;
font-size: 20px;
font-family: century;
position: relative;
text-transform: uppercase;
}
.navbar ul li:hover{
background: orangered;
color: black;
}
.navbar ul ul{
 display: none;
 padding: 0%;
}
.navbar ul li:hover > ul{
 display: block;
}
.navbar ul ul ul{
 margin-left: 170px;
top: 0%;
position: absolute;
}
